/*hero*/
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 360px;
  background-color: var(--card-color);
  border-radius: 16px;
  padding: 40px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
  overflow: hidden;
}

.hero_text {
  flex: 1;
  max-width: 500px;
}

.hero_text h1 {
  color: var(--secondary-color);
  font-size: 42px;
  line-height: 1.15;
  margin-bottom: 20px;
}

.hero_text p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 25px;
  color: var(--text-primary-color);
}

.hero_text a {
  display: inline-block;
  background-color: var(--secondary-color);
  color: var(--text-secondary-color);
  text-decoration: none;
  padding: 12px 20px;
  border-radius: 8px;
  font-weight: bold;
  transition: 0.2s;
}

.hero_text a:hover {
  background-color: #162d6b;
}

.hero_image {
  flex: 1;

  display: flex;
  justify-content: center;
  align-items: center;
}

.hero_image img {
  width: 100%;
  max-width: 520px;
  height: auto;
}