/*hero*/
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 360px;
  background-color: var(--card-color);
  border-radius: 16px;
  padding: 40px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
  overflow: hidden;
}

.hero_text {
  flex: 1;
  max-width: 500px;
}

.hero_text h1 {
  color: var(--secondary-color);
  font-size: 42px;
  line-height: 1.15;
  margin-bottom: 20px;
}

.hero_text p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 25px;
  color: var(--text-primary-color);
}

.hero_text a {
  display: inline-block;
  background-color: var(--secondary-color);
  color: var(--text-secondary-color);
  text-decoration: none;
  padding: 12px 20px;
  border-radius: 8px;
  font-weight: bold;
  transition: 0.2s;
}

.hero_text a:hover {
  background-color: #162d6b;
}

.hero_image {
  flex: 1;

  display: flex;
  justify-content: center;
  align-items: center;
}

.hero_image img {
  width: 100%;
  max-width: 520px;
  height: auto;
}

/* Apresentação de slides */

.slideshow_container {
  max-width: 1000px;
  position: relative;
  margin:auto;
  overflow: hidden;
}

.slide {
  display: none;
}

.slide img {
  width: 100%;
  height: auto;
  display: block;
}

.previous_arrow, .next_arrow {
  background: rgba(0,0,0,0.4);
  border: none;
  outline: none;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 16px;
  color: var(--text-secondary-color);
  font-weight: bold;
  font-size: 18px;
  transition: 0.3s ease;
  user-select: none;
  z-index: 10;
}

.previous_arrow { left: 0; }
.next_arrow { right: 0; }

.fade {
  animation-name: fadeEffect;
  animation-duration: 0.8s;
}

@keyframes fadeEffect {
  from { opacity: 0.4;}
  to { opacity: 1;}
}


